<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Boletim Informativo Vilesoft n&deg;{{=biv[0].numero}}</title>
        <link rel="important stylesheet" href="chrome://messagebody/skin/messageBody.css">
        <meta http-equiv="Content-Type" content="text/html; ">
        <link rel="stylesheet" href="http://www.vienasistemas.com.br/biv/css/estilos.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    </head>
    <body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
        <table style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(80, 80, 80);" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" width="760">
                            <tbody>
                                <tr>
                                    <td style="padding: 10px 0pt 20px;" align="left">
                                        <table style="border-collapse: collapse;" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" height="107" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="276">
                                                                        <a href="http://www.vilesoft.com.br"><img style="border: 0px solid ; width: 270px; height: 96px;" src="http://www.vienasistemas.com.br/biv/images/logo.png" alt=""></a>
                                                                    </td>
                                                                    <td>
                                                                        <p align="center">
                                                                            <font color="#3987b9" size="3">
                                                                                <strong>Boletim Informativo Vilesoft 
                                                                                    n&deg; {{=biv[0].numero}} </strong>
                                                                            </font>
                                                                        </p>
                                                                        <p align="center">
                                                                            <font color="#3987b9" size="3">
                                                                                <strong>&nbsp;.:<a href="http://www.vilesoft.com">
                                                                                        <font color="#3987b9">
                                                                                            www.vilesoft.com
                                                                                        </font>
                                                                                    </a>&nbsp;:.</strong>
                                                                                <b></b>
                                                                            </font>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-04.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                    <td background="http://www.vienasistemas.com.br/biv/images/i-08.gif">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-05.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table style="background-color: rgb(222, 239, 255);" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0pt 15px 0pt 20px; width: 50%; vertical-align: top; text-align: justify;">
                                                                                        <div style="padding: 10px 0pt 0pt; font-size: 14px; color: rgb(46, 74, 92);">
                                                                                            <div style="text-align: justify;">
                                                                                                <font face="Verdana">
                                                                                                    A&nbsp;Vilesoft
                                                                                                    traz a voc&ecirc; o Boletim Informativo, um resumo dos ajustes e
                                                                                                    novas
                                                                                                    implementa&ccedil;&otilde;es p&uacute;blicas ocorridos no
                                                                                                    DON CORPORATE
                                                                                                    ERP:
                                                                                                </font>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-06.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                    <td background="http://www.vienasistemas.com.br/biv/images/i-09.gif">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-07.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-04.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                    <td background="http://www.vienasistemas.com.br/biv/images/i-08.gif">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-05.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table style="background-color: rgb(222, 239, 255); width: 100%;" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding: 0pt 20px 0pt 15px; text-align: left; width: 75%; vertical-align: top;">
                                                                                        <span style="font-size: 16px; color: rgb(57, 135, 185);"><strong>Atualiza&ccedil;&atilde;o</strong></span>
                                                                                        <div style="padding: 10px 0pt 0pt; font-size: 14px; color: rgb(46, 74, 92); text-align: justify;">
                                                                                            <span style="font-size: 9pt;">Atualiza&ccedil;&atilde;o
                                                                                                da nova vers&atilde;o do DON CORPORATE pode ser realizada pelo site 
                                                                                                da Vilesoft. 
                                                                                                <br>
                                                                                                Ap&oacute;s
                                                                                                efetuar o login na &Aacute;rea do Cliente, v&aacute;
                                                                                                em&nbsp;Downloads
                                                                                                - DON, escolha o m&oacute;dulo que deseja e a
                                                                                                op&ccedil;&atilde;o com a
                                                                                                vers&atilde;o que deseja efetuar o download.&nbsp; Estas
                                                                                                atualiza&ccedil;&otilde;es est&atilde;o nas
                                                                                                vers&otilde;es 
                                                                                                m&iacute;nimas {{=biv[0].versao_corporate}} do <b>
                                                                                                    <font color="#3987b9">
                                                                                                        DON
                                                                                                        CORPORATE
                                                                                                    </font>
                                                                                                </b> e {{=biv[0].versao_apolo}} do 
                                                                                                <font color="#3987b9">
                                                                                                    <b>DON APOLO RH</b>.
                                                                                                </font>
                                                                                            </span>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-06.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                    <td background="http://www.vienasistemas.com.br/biv/images/i-09.gif">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                    <td width="3">
                                                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-07.gif" alt="" height="17" width="3">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td valign="top" width="185">
                                                        <a href="http://www.vienasistemas.com.br/"><img src="http://www.vienasistemas.com.br/images/caixa_don.jpg" border="0"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://www.vienasistemas.com.br/biv/images/w.gif" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="border-collapse: collapse;" border="1" bordercolor="#f0f8ff" cellspacing="1" width="100%">
                                                            <!-- MSTableType='nolayout' -->
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" background="http://www.vienasistemas.com.br/biv/images/i-14.gif" width="17">
                                                                        <b>
                                                                            <font color="#3987b9">
                                                                                Id.
                                                                            </font>
                                                                        </b>
                                                                    </td>
                                                                    <td align="left" background="http://www.vienasistemas.com.br/biv/images/i-14.gif" width="105">
                                                                        <b>
                                                                            <font color="#3987b9">
                                                                                M&oacute;dulo
                                                                            </font>
                                                                        </b>
                                                                    </td>
                                                                    <td align="left" background="http://www.vienasistemas.com.br/biv/images/i-14.gif" width="80%">
                                                                        <b>
                                                                            <font color="#3987b9">
                                                                                Implementa&ccedil;&atilde;o
                                                                            </font>
                                                                        </b>
                                                                    </td>
                                                                </tr>
                                                                {{tamanho = len(str(len(biv_itens)))}}
                                                                {{for i,item in enumerate(biv_itens):}}
                                                                <tr>
                                                                    <td align="justify" valign="top" width="17">
                                                                        {{formato ='%0'+str(tamanho)+'i'}}
                                                                        {{=formato % (i+1)}}
                                                                    </td>
                                                                    <td style="text-align: left;" valign="top" width="105">
                                                                        {{=XML(unicode2htmlentities(item.modulo.decode('utf-8')))}}
                                                                    </td>
                                                                    <td style="text-align: justify;" valign="top" width="626">
                                                                        {{=XML(unicode2htmlentities(item.texto.decode('utf-8')))}}
                                                                        <br>
                                                                        <span class="caminho_menu">{{=XML(unicode2htmlentities(item.menu.decode('utf-8')))}}&nbsp;</span>
                                                                    </td>
                                                                </tr>
                                                                {{pass}}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="color: rgb(255, 255, 255);" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="2">
                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-01.gif" alt="" height="34" width="2">
                                                    </td>
                                                    <td style="padding: 0pt 0pt 8px 18px; font-size: 11px;" align="left" background="http://www.vienasistemas.com.br/biv/images/i-02.gif" valign="bottom">
                                                        <div style="text-align: center;">
                                                            <a href="http://www.Vilesoft.com">
                                                                <font color="#ffffff">
                                                                    vilesoft.com
                                                                </font>
                                                            </a>&nbsp;
                                                            | &nbsp;<a href="mailto:suporte@vilesoft.com.br">
                                                                <font color="#ffffff">
                                                                    suporte@vilesoft.com.br
                                                                </font>
                                                            </a>
                                                            | +55 (37) 3213-4855 
                                                        </div>
                                                    </td>
                                                    <td width="2">
                                                        <img src="http://www.vienasistemas.com.br/biv/images/i-03.gif" alt="" height="34" width="2">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0pt 20px; font-size: 11px; color: rgb(134, 134, 134);" align="left">
                                        <div style="padding: 13px 0pt 0pt;">
                                            Para
                                            garantir que voc&ecirc; receber&aacute; nosso boletim
                                            informativo,
                                            &nbsp;adicione&nbsp;suporte@vilesoft.com.br &nbsp;a sua
                                            lista de
                                            contatos. N&oacute;s respeitamos sua privacidade, se voc&ecirc;
                                            n&atilde;o deseja mais&nbsp; receber este informativo, por 
                                            favor <a href="mailto:comercila@vilesoft.com.br?subject=N%C3%A3o quero mais receber o BIV da Vilesoft">clique
                                                aqui</a>.
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
